.feed{
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  margin-right: 20px;
}

.column{
    width: fit-content;
}

.image-item{
    padding-top: 15px;
    padding-left: 15px;
    position: relative;
}

.image-item .image{
    width: 100%;
    height: auto;
}

.icon-container{
    position: absolute;
    right: 3%;
    top: 2%;
    font-size: 1.8rem;
    color: #ffffff;
    cursor: pointer;
    display: none;
}

.image:hover{
    filter: brightness(65%);
}

.blur-load{
    margin: 1.1rem;
    background-position: center;
    background-size: cover;
    height: fit-content;
}

@media only screen and (max-width: 1440px){
    .image{
        max-width: 350px;
    }

    .image-item{
        padding-top: 10px;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 1278px){
    .image{
        max-width: 275px;
    }
}

@media only screen and (max-width: 1024px) {
    .image{
        max-width: 200px;
    }
}

@media only screen and (max-width: 768px){
    .image{
        max-width: 150px;
    }
}


