.feed{
    margin: 1vh auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    /* grid-row-gap: unset; */
    /* grid-auto-rows: minmax(100px, auto); */
    grid-row-end: auto;
    justify-items: stretch;
    align-items: stretch;
    align-content: start;
}

.image{
    width: 100%;
    
    object-fit: cover;
    object-position: center;
}

.image:hover{
    filter: brightness(65%);
}

.blur-load{
    margin: 1.1rem;
    background-position: center;
    background-size: cover;
    height: fit-content;
}

@media only screen and (max-width: 1440px){
    .image{
        max-width: 350px;
    }
}

@media only screen and (max-width: 1278px){
    .image{
        max-width: 275px;
    }
}

@media only screen and (max-width: 1024px) {
    .image{
        max-width: 200px;
    }
}

@media only screen and (max-width: 768px){
    .image{
        max-width: 150px;
    }
}


