.profile__wrapper{
    display: flex;
    flex-direction: column;
}

.hero__main-wrapper{
    position: relative;
    height: fit-content;
    margin: 50px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.hero__main{
    height: fit-content;
    margin: 200px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.user_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 40%);
    padding-right: 20%;
}

.avatar{
    display: flex;
    height: 100%;
    width: 40%;
    text-align: right;
}




