.feed{
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  margin-right: 15px;
}

.column{
    /* width: fit-content; */
    width: 100%;
}

.column4,
.column5{
    display: none;
}

.skeleton{
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
    -webkit-animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading{
    0%{
        background-color: hsl(206, 6%, 24%);
    }

    100%{
        background-color: hsl(206, 6%, 45%);
    }
}

@-webkit-keyframes skeleton-loading{
    0%{
        background-color: hsl(206, 6%, 24%);
    }

    100%{
        background-color: hsl(206, 6%, 45%);
    }
}

.image-item{
    padding-top: 15px;
    padding-left: 15px;
    position: relative;
}

.image-item .image{
    width: 100%;
    z-index: 1;
    /* height: auto; */
}

.icon-container{
    position: absolute;
    right: 12px;
    top: 16px;
    font-size: 1.8rem;
    color: #ffffff;
    display: none;
}

.icon-container span{
    margin-left: 12px;
}

.icon-container i{
    padding: 5px;
    z-index: 2;
}

.icon-container i:hover{
    background: red;
}

.author-conatainer{
    position: absolute;
    left: 20px;
    bottom: 16px;
    font-size: 1.2rem;
    color: #ffffff;
    cursor: pointer;
    display: none;
    z-index: 2;
}

.image:hover{
    filter: brightness(65%);
}

.image:hover + .icon-container{
    display: block;
}

.image:hover + .author-conatainer{
    display: block;
}

.blur-load{
    margin: 1.1rem;
    background-position: center;
    background-size: cover;
    height: fit-content;
}

@media only screen and (max-width: 1440px){
    .image{
        max-width: 100%;
    }

    .image-item{
        padding-top: 10px;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 1278px){
    .image{
        max-width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .image{
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px){
    .image{
        max-width: 100%;
    }

    .column1,
    .column2,
    .column3{
        display: none;
    }

    .column4,
    .column5{
        display: flex;
        flex-direction: column;
    }

    .feed{
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        margin-right: 10px;
    }
}
